In [1]:
city = input("Enter the name of a city: ")

Enter the name of a city: islamabad

In [11]:
income = int(input("enter salary   "))

enter salary   2

In [12]:
total = income * 12

In [13]:
total

24

In [18]:
income

2

In [19]:
str(income)

'2'

In [20]:
float(income)

2.0

TypeError: 'int' object is not iterable